.form{
    background-color: #F5F4EE;
    font-family: 'Roboto', sans-serif;
    text-align:left;
    font-weight: bold;
    padding:32px;
    width: 500px;
}

input {
    padding: 0 16px;
    font-size: 1rem;
    height: 40px;
    margin: 8px 0;
    width: stretch;
    outline: none;
    border:1px solid #595959;
    border-radius: 3px;
}

input:focus {
    outline: none !important;
    border:2px solid black;
  }

.button{
    font-weight: 500;
    background-color: #3C4EAF;
    padding: 12px 24px;
    color: white;
    border-radius: 5px;
}


.button:hover{
    background-color: #091856
}

.register > a{
    color: black;
    text-decoration: none;
    padding-bottom: 3px;
    transition: all 0.15s;
    border-bottom: 1px solid #3C4EAF;
}

.register > a :visited{
    color: black;
}


.register > a:hover{
    color: #3C4EAF;
}

