.form{
    background-color: #F5F4EE;
    font-family: 'Roboto', sans-serif;
    text-align:left;
    font-weight: bold;
    padding:32px;
    width: 500px;
}

input {
    padding: 0 16px;
    font-size: 1rem;
    height: 40px;
    margin: 8px 0;
    width: stretch;
    outline: none;
    border:1px solid #595959;
    border-radius: 3px;
}

input:focus {
    outline: none !important;
    border:2px solid black;
  }